<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <rewrite>
      <rules>
        <rule name="DenySensitiveTrees" stopProcessing="true">
          <match url="^(config|database|src|vendor|bin|docs|templates|uploads)(/.*)?$" ignoreCase="true" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="SkipPublic" stopProcessing="true">
          <match url="^public(/.*)?$" ignoreCase="true" />
          <action type="None" />
        </rule>
        <rule name="RewriteToPublic" stopProcessing="true">
          <match url="^(.*)$" />
          <action type="Rewrite" url="public/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
